{deps, [
    {lager, {git, "https://github.com/basho/lager.git", {tag, "3.0.1"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.3"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}},
    {erlang_osc, "1.0.1"}
]}.
{plugins, [
    {rebar3_efene_compile, ".*", {git, "https://github.com/efene/rebar3_efene_compile.git", {branch, "master"}}},
    {rebar3_efene_ct, ".*", {git, "https://github.com/efene/rebar3_efene_ct.git", {branch, "master"}}},
    {rebar3_run, ".*", {git, "git://github.com/tsloughter/rebar3_run.git", {branch, "master"}}},
    {rebar3_cuttlefish, {git, "git@github.com:tsloughter/rebar3_cuttlefish.git", {branch, "master"}}}
]}.
{provider_hooks, [
    {pre, [{ct, {efene, ct}}, {compile, {efene, compile}}]}
]}.

{relx, [{release, { sbs, "0.0.1"}, [sbs, sasl, erlang_osc]},

    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},

    {overlay_vars, "config/vars.config"},
    {overlay, [
        {mkdir, "etc"},
        {mkdir, "bin"},
        {template, "./config/advanced.config", "etc/advanced.config"}
    ]}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false} ,{include_erts, true}]}]}]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
